<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
  </configSections>

  <rhino.esb>

    <bus
      threadCount="1"
      numberOfRetries="5"
      endpoint="rhino.queues://localhost:50100/LearningRhinoESB_E6_Barista"
      name ="barista"/>

    <messages>
      <add
        name="Messages.Cashier"
        endpoint="rhino.queues://localhost:50200/LearningRhinoESB_E6_Cashier"/>
    </messages>

  </rhino.esb>

</configuration>