<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
  </configSections>

  <rhino.esb>

    <bus
        threadCount="1"
        numberOfRetries="5"
        endpoint="rhino.queues://localhost:53000/LearningRhinoESB_E8_Customer"
        name="customer"/>

    <messages>
      <add
        name ="Messages.Barista"
        endpoint="rhino.queues://localhost:51000/LearningRhinoESB_E8_Barista"/>

      <add
        name ="Messages.Cashier"
        endpoint="rhino.queues://localhost:52000/LearningRhinoESB_E8_Cashier"/>

    </messages>

  </rhino.esb>

</configuration>
