<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
  </configSections>

  <rhino.esb>

    <!-- When using rhino.queus as the underlying transport rhino esb
             needs a slightly changed configuration
             1. The bus name is now mandatory.
             2. Rhino.Queues / Esent doesn't like points in queue names. 
             3. Client and server need to be set to different ports. -->

    <bus
      threadCount="1"
      numberOfRetries="5"
      endpoint="rhino.queues://localhost:12345/LearningRhinoESB_E2_Backend"
      name="backend" />

    <messages />
  </rhino.esb>

</configuration>