<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <facilities>
      <facility id="rhino.esb">

        <!-- When using rhino.queus as the underlying transport the bus name is mandatory. 
             Besides you need to set consumer and reciever to different ports. -->
        <bus 
          threadCount="1" 
          numberOfRetries="5"
          endpoint="rhino.queues://localhost:12345/LearningRhinoESB_E2_Consumer" 
          name="consumer" />
        
        <!-- The consumer only recieves messages. It doesn't need to have a configured message set in this example -->
        <messages />
      </facility>
    </facilities>
  </castle>

</configuration>