<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <facilities>
      <facility id="rhino.esb" >

        <bus
            threadCount="1"
            numberOfRetries="5"
            endpoint="msmq://localhost/LearningRhinoESB_E9_Customer" />

        <messages>
          <add 
            name ="Messages.Barista" 
            endpoint="msmq://localhost/LearningRhinoESB_E9_Barista"/>

          <add
            name ="Messages.Cashier"
            endpoint="msmq://localhost/LearningRhinoESB_E9_Cashier"/>

        </messages>

      </facility>
    </facilities>
  </castle>

</configuration>
