<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <facilities>
      <facility id="rhino.esb">

        <bus
          threadCount="1"
          numberOfRetries="5"
          endpoint="rhino.queues://localhost:51000/LearningRhinoESB_E8_Barista"
          name ="barista"/>

        <messages>
            <add name="Messages.Cashier"
                 endpoint="rhino.queues://localhost:52000/LearningRhinoESB_E8_Cashier"/>
        </messages>

      </facility>
    </facilities>
  </castle>
</configuration>