<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="rhino.esb" type="Rhino.ServiceBus.Config.BusConfigurationSection, Rhino.ServiceBus"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>

  <rhino.esb>

    <bus
        threadCount="1"
        numberOfRetries="5"
        endpoint="msmq://localhost/LearningRhinoESB_E9_Cashier" />

    <messages>
      <add
        name="Messages.Barista"
        endpoint="msmq://localhost/LearningRhinoESB_E9_Barista" />
    </messages>

  </rhino.esb>

  <log4net>
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="TraceAppender"/>
    </root>
  </log4net>
  
</configuration>
