<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>

  <castle>
    <facilities>
      <facility id="rhino.esb">

        <!-- When using rhino.queus as the underlying transport rhino esb
             needs a slightly changed configuration
             1. The bus name is now mandatory.
             2. Rhino.Queues / Esent doesn't like points in queue names. 
             3. Client and server need to be set to different ports. -->
        
        <bus 
          threadCount="1" 
          numberOfRetries="5" 
          endpoint="rhino.queues://localhost:54321/LearningRhinoESB_E2_Client"
          name="client" />
        
        <messages>
          <add
            name="Messages.HelloWorldMessage"
            endpoint="rhino.queues://localhost:12345/LearningRhinoESB_E2_Backend" />
        </messages>
        
      </facility>
    </facilities>
  </castle>

</configuration>