<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
  </configSections>
  
  <castle>
    <facilities>
      <facility id="rhino.esb" >
        
        <bus 
            threadCount="1"
            numberOfRetries="5"
            endpoint="msmq://localhost/LearningRhinoESB.E10.Client" />
        
        <messages>
          <add 
            name="Messages.HelloWorldMessage"
            endpoint="msmq://localhost/LearningRhinoESB.E10.Backend"
           />
        </messages>
      </facility>
    </facilities>
  </castle>
  
</configuration>
